

.tradingView{
    display: block;
    margin-top: 10vh; 
    margin-left: auto;
    margin-right: auto;
    width: 75vw;
    height: 60vh; 
    border-radius: 5px;
}





.contain{
    display: flex;
    justify-content: center;
    margin-left: auto !important;
    margin-right: auto !important;
}
.contain2{
    display: flex;
    justify-content: center;
    margin-left: auto !important;
    margin-right: auto !important;
}

.StickyNav{
    position:sticky !important ;
    top:0px;
    z-index: 999;
}



