.box{
    background: white;
    padding-top: 25px;
    padding-left: 25px ;
    padding-right: 25px;
    padding-bottom: 15px; 
    margin-top: 20vh;
    border-radius: 10px;

}

.submit{
    padding: 10px; 
}



