body{
    color:white !important; 
}

.form-contorl{
    color: white !important; 
}

.input-text { 
    color:'white' !important; 
}

.btn{
    padding:10px; 
}

.Button {
    padding: 10px; 
}

.list-group-item {
    background-color:darkgray !important;
    color: white !important ;
}
.list-group-flush {
    padding:20px; 
    border-radius: 5px !important ; 
}

.btn{
    padding: 20px;
}

.notesListItem{
    display: flex; 
    flex-direction: row;
}


